body {
    background: linear-gradient(0deg, #e99f9a 8%, white 80%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;    
    font-weight: bold;
    color: black;
}

h2 {
    margin-top: 1rem;
    font-size: 2rem;
}

.heading{
    font-size: 1.5rem;             
}


.content{
    font-size: 1.5rem;
}

#content-section {
    margin-top: 8rem;    
}

@media (max-width: 768px) {
    .content {
        font-size: 1.5rem;
        padding: 10px;
    }
}